In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
final=pd.DataFrame()
for j in range(1,11):
   
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j),headers=headers).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper')
    name=[]
    rating=[]
    review=[]
    salaries=[]
    interviews=[]
    Jobs=[]
    Benefits=[]



    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
        review.append(i.find('span',class_='companyCardWrapper__ActionCount').text.strip())
        salaries.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[1].text.strip())
        interviews.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[2].text.strip())
        Jobs.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[3].text.strip())
        Benefits.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[4].text.strip())


    d={'name':name,'rating':rating,'reviews':review,'salaries':salaries,'interviews':interviews,'Jobs':Jobs,'Benefits':Benefits}
    df=pd.DataFrame(d)
    
    final=pd.concat([final,df])

In [5]:
final

,name,rating,reviews,salaries,interviews,Jobs,Benefits
0,TCS,3.8,62.4k,870.7k,5.2k,45,25.5k
1,Accenture,4.1,39.8k,566.3k,3.5k,12.6k,18.2k
2,Cognizant,3.9,36.3k,572.2k,3.1k,454,14.9k
3,Wipro,3.8,30k,421.5k,3.1k,408,11.5k
4,ICICI Bank,4.0,29.5k,220.9k,1.6k,233,11.8k
...,...,...,...,...,...,...,...
15,Publicis Sapient,3.6,2.3k,27.7k,270,202,864
16,Vishal Mega Mart,3.8,2.3k,9.6k,98,10,833
17,Glenmark Pharmaceuticals,4.0,2.2k,12.1k,74,37,1k
18,CMS IT Services,3.2,2.2k,13.4k,78,7,633
19,ABB Group,4.1,2.2k,15.5k,104,1,997

In [7]:
final.to_csv('AmbitionBox.csv',index=False)